@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-karla), Arial, sans-serif;
}

/********************************************** 
**********TYPOGRAPHY***************************
***********************************************
*/
h1 {
  font-family: var(--font-sedan);
}

h2 {
  font-family: var(--font-lato);
}

nav a {
  font-family: var(--font-lato);
}
