@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f8;
  --foreground: #171717;
}


/********************************************** 
**********TYPOGRAPHY***************************
***********************************************
*/
body {
  font-family: var(--font-karla), Arial, sans-serif;
}

h1 {
  font-family: var(--font-sedan);
}

h2 {
  font-family: var(--font-lato);
}

nav a {
  font-family: var(--font-lato);
}

.brand-name {
  font-family: var(--font-petit-formal);
  font-weight: 800;
  font-style: normal;
}

form label {
  font-family: var(--font-lato);
}

/********************************************** 
**********COLOR***************************
***********************************************
*/
